//  Add your project-specific variables here
$fontSans : "Archia", sans-serif;

$paraFontSize : 0.94em;


$colorTint     : hsl(210, 50%, 98%);
$colorHue      : hsl(235, 71%, 65%);
$colorAnalogue : hsl(235, 77%, 63%);
$colorShade    : hsl(   0,   0%, 16%);
$colorAccent   : hsl( 164,  72%, 36%);
