<div class="row">
    <div class="portion half">
        <div class="ff-card padding-large shape-rounded bg-white shadow-hard">
            <div class="row">
                <div class="portion whole">
                    <h6 class="margin-bottom-tiny">
                        <strong>A sample form</strong>
                    </h6>
                </div>
            </div>

            <form class="ff-form">
                <div class="row retain-layout-on-tab-ls">
                    <div class="portion">
                        <div class="ff-form-unit">
                            <input class="ff-input" id="first-name" placeholder=" " pattern="{1,}$">
                            <label for="first-name">First name</label>
                        </div>
                    </div>

                    <div class="portion">
                        <div class="ff-form-unit">
                            <input class="ff-input" id="last-name" placeholder=" " pattern="{1,}$">
                            <label for="last-name">Last name</label>
                        </div>
                    </div>
                </div>

                <div class="ff-form-unit">
                    <input class="ff-input needs-validation" type="email" id="email" placeholder=" " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        required="">
                    <label for="email">Email</label>
                    <p class="input-help">Please enter a valid email address</p>
                </div>

                <div class="ff-form-unit">
                    <input class="ff-input needs-validation" type="password" id="password" placeholder=" " pattern="^.{6,}$" required="">
                    <label for="password">Password</label>
                    <p class="input-help">At least 6 characters long</p>
                </div>


                <div class="ff-form-unit">
                    <div class="row retain-layout-on-tab-ls retain-layout-on-tab-pt">
                        <div class="portion one-fifth">
                            <p>I prefer</p>
                        </div>

                        <div class="portion four-fifths">
                            <div class="ff-radio">
                                <input type="radio" id="toggle-1" name="radioset-1">
                                <label for="toggle-1">cats</label>
                            </div>

                            <div class="ff-radio">
                                <input type="radio" id="toggle-2" name="radioset-1">
                                <label for="toggle-2">dogs</label>
                            </div>

                            <div class="ff-radio">
                                <input type="radio" id="toggle-3" name="radioset-1" disabled="">
                                <label for="toggle-3">birds</label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="ff-form-unit">
                    <div class="row retain-layout-on-tab-ls retain-layout-on-tab-pt">
                        <div class="portion one-fifth">
                            <p>I like</p>
                        </div>

                        <div class="portion four-fifths">
                            <div class="ff-checkbox">
                                <input type="checkbox" id="checkbox-2">
                                <label for="checkbox-2">books</label>
                            </div>

                            <div class="ff-checkbox">
                                <input type="checkbox" id="checkbox-1">
                                <label for="checkbox-1">movies</label>
                            </div>

                            <div class="ff-checkbox">
                                <input type="checkbox" id="checkbox-3" disabled="">
                                <label for="checkbox-3">comics</label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="ff-form-unit margin-bottom-medium">
                    <div class="row retain-layout-on-tab-ls retain-layout-on-tab-pt">
                        <div class="portion one-fifth">
                            <p class="no-margin">I’m from</p>
                        </div>

                        <div class="portion four-fifths">
                            <select class="ff-select show-inline" title="example-select" required="">
                                <option value="0" selected="">Select one...</option>
                                <option value="1">Asia</option>
                                <option value="3">Australia</option>
                                <option value="2">Europe</option>
                                <option value="4">North America</option>
                                <option value="5">South America</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="ff-form-unit">
                    <div class="row retain-layout-on-tab-ls retain-layout-on-tab-pt">
                        <div class="portion half">
                            <div class="ff-switch">
                                <input type="checkbox" id="remember-toggle">
                                <label for="remember-toggle">Remember me</label>
                            </div>
                        </div>

                        <div class="portion half">
                            <div class="pull-right">
                                <input class="ff-button shape-rounded border-hue bg-transparent text-hue no-shadow margin-right-fixed" type="reset" value="Reset">

                                <input class="ff-button shape-rounded border-hue bg-hue text-white shadow-hard" type="submit" value="SUBMIT">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="portion half">
        <p>A form takes the full width of its parent, so a form inside a
            <code>portion.one-third</code> div will be 33% of the page width.</p>

        <p>Form elements are wrapped within a
            <code>.ff-form</code> class parent. You can use
            <code>.row</code> and
            <code>.portion</code> within this form to control the layout of the elements. Form elements are wrapped individually by a
            <code>.ff-form-unit</code> div to ensure consistent spacing and margins.</p>

        <pre class="margin-top-fixed language-markup"><code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>form</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>ff-form<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
// Some element
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>ff-form-unit<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>

// Two form elements side-by-side
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>row ff-form-multi-unit<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>portion half<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>ff-form-unit<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>portion half<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>ff-form-unit<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>form</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>
</div>
