<header class="ff-header bg-white shadow-hard">
  <div id="header-logo">
      Startuphive
  </div>

  <label for="menu-toggle" class="links-toggle">
      Menu
  </label>
  <input type="checkbox" id="menu-toggle"/>

  <nav class="header-links">
      <ul>
          <li class="nav-item">
              <a [routerLink]="['/jobs']">Jobs</a>
          </li>
          <li class="nav-item">
              <a>Link 2</a>
          </li>
          <li class="nav-item">
              <a>Link 3</a>
          </li>
          <li class="nav-item">
              <a>Link 4</a>
          </li>
      </ul>
  </nav>
</header>
